<ion-app>
  <ion-content padding>
    <img class="img" width="" height="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Instituto_Federal_do_Paran%C3%A1_-_Marca_Vertical_2015.svg/1200px-Instituto_Federal_do_Paran%C3%A1_-_Marca_Vertical_2015.svg.png">

    <ion-item>
      <ion-label position="floating">E-mail : <ion-text color="dark">*</ion-text></ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha : <ion-text color="dark">*</ion-text>
      </ion-label>
      <ion-input required name="mail" type="password" ></ion-input>
    </ion-item>

    <br>
    <button class="mt btn centro-btn" expand="full" style="background-color:#4aba70">
      Entrar
    </button>

    <br>
    <a class="center link mb-1" >Esqueceu a senha?</a>
  
    <a class="center link link02" >Não possui uma conta? Cadastre-se</a>

  </ion-content>
</ion-app>