<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
      <ion-title>Novo Material</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <form [formGroup]="equipamentoForm">
      <ion-item>
        <div class="controls">
          <ion-label class="inputCustom" position="floating">Descricao do Material<ion-text style="color:red">*
            </ion-text>
          </ion-label>
          <ion-input type="text" formControlName='descricao'></ion-input>
        </div>
      </ion-item>
      <span style='color:gray; font-size: 10px;margin-left: 5%;'
        *ngIf="equipamentoForm.controls.descricao.hasError('required')">
        Por favor insira o nome do material*
      </span>
      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select placeholder="Escolha" formControlName="idCategoria">
          <ion-select-option *ngFor="let categoria of categorias$| async" value="{{categoria.id}}">{{categoria.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <button class="mt btn centro-btn" style="background-color:#4aba70;margin-top:5% " expand="full" color="secondary"
        (click)="addCategoria()">
        Salvar
      </button>
      <br>
    </form>


  </ion-content>
</ion-app>