<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
      <ion-title>Nova Categoria</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <form [formGroup]="categoriaForm">
      <ion-item>
        <div class="controls">
          <ion-label class="inputCustom" position="floating" >Nome da Categoria<ion-text style="color:red">*</ion-text>
          </ion-label>
          <ion-input type="text" formControlName='nome'></ion-input>
        </div>
      </ion-item>
      <span style='color:gray; font-size: 10px;margin-left: 5%;' *ngIf="categoriaForm.controls.nome.hasError('required')">
        Por favor insira o nome da categoria*
      </span>
      <br>
      <button class="mt btn centro-btn" [disabled]="!categoriaForm.valid" style="background-color:#4aba70;margin-top:5% "
        expand="full" color="secondary" (click)="addCategoria()">
        Salvar
      </button>
    </form>


  </ion-content>
</ion-app>