<ion-app>
  <ion-header>
  </ion-header>

  <ion-content padding>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="center" style="color:#4aba70">Nova Categoria</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-item>
      <ion-label position="floating">Mantimento</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Data Validade</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" max="2050" 
        month-short-names="jan, fev, mar, abr, mar, jun, jul, ago, set, out, nov, dez" placeholder="Selecionar data">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Unidade de Medida</ion-label>
      <ion-select >
        <ion-select-option value="g">Grama(s)</ion-select-option>
        <ion-select-option value="L">Litro(s)</ion-select-option>
        <ion-select-option value="UN">Unidade(s)</ion-select-option>
        <ion-select-option value="Kg">Quilograma(s)</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <br>
    <button class="mt btn centro-btn" expand="full" color="secondary" (click)="salvarMantimento()">
      Salvar
    </button>

  </ion-content>
</ion-app>