<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{nomeUsuario}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="contact" slot="start"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item *ngIf="tipo">
          <ion-icon name="person-add" slot="start"></ion-icon>
          <ion-label>Novo assistente</ion-label>
        </ion-item>
        <ion-item *ngIf="tipo">
          <ion-icon name="bookmarks" slot="start"></ion-icon>
          <a routerLink="/equipamento" (click)="toggle()">Equipamentos</a>
        </ion-item>
        <ion-item *ngIf="tipo">
          <ion-icon name="pricetag" slot="start" ></ion-icon>
          <ion-label><a routerLink="/categoria">Categorias</a> </ion-label>
        </ion-item>
        <ion-item >
          <ion-icon name="arrow-round-back" slot="start"></ion-icon>
          <a (click)="deslogar()" href="#" style="color:red">Sair</a> 
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>